<header class="masthead">
    
    <nav class="language-nav">
		<ul>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</nav>

    <img class="logo" src="assets/AA_Times_Logo.png" >
	<ul class="masthead-links">
		<li>
			<time>Tuesday, October 18, 2016</time>
		</li>
		<li>
			Today's Paper
		</li>
		<li>
			Video
		</li>
		<li>
			<button>77°F</button>
		</li>
		<li>
			AAO +100%
		</li>
</header>